parameters:
	ignoreErrors:
		-
			message: "#^While loop condition is always true\\.$#"
			count: 1
			path: src/bref/src/ConsoleApplicationRunner.php

		-
			message: "#CurlHandle#"
			count: 2
			path: src/bref/src/Lambda/LambdaClient.php

		-
			message: "#^Function frankenphp_handle_request not found\\.$#"
			count: 1
			path: src/frankenphp-symfony/src/Runner.php

		-
			message: "#^Function frankenphp_handle_request not found\\.$#"
			count: 1
			path: src/frankenphp-symfony/src/ResponseRunner.php
