includes:
  - ./phpstan-baseline.neon

parameters:
    level: 5
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
    tmpDir: .github/.cache/phpstan/

    excludePaths:
        - src/*/tests/*
        - src/*/vendor/*
